.mainView {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 38px;
  bottom: 0px;
  background-color: rgb(245, 245, 245);
  padding-top: 20px;

  .itemTitle {
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: "MicrosoftYahei";
    color: rgb(150, 150, 150);
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;

    .name {
      width: 80px;
      text-align: right;
      line-height: 1;
      margin-right: 20px;
    }

    .line {
      flex-grow: 1;
      height: 1px;
      background-color: rgb(150, 150, 150);
    }
  }
}
