.titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, 38);
  width: 100%;
  background-color: #323233;

  .titleBar {
    position: absolute;
    top: 0;
    display: flex;
    user-select: none;
    height: 100%;
    left: env(titlebar-area-x, 0);
    width: env(titlebar-area-width, 100%);
    -webkit-app-region: drag;
  }
}
